
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
}

  html,
  body {
    height: 100%;
    width: 100%;
}

.main_body {
    background-color: rgb(189, 207, 162);
    width: 100%;
    height: 100%;

    display: flex;
   justify-content: flex-start;
   align-items: center;

}

.status_bar {
    margin-top: 20px;
    background-color: whitesmoke;

}

.insta_body {

    width: 350px;
    height: 700px;
    background-color: whitesmoke;

    border-radius: 30px;

    position: absolute;

}



.insta_nav {

    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* border: 2px solid black;  */
}

.insta_nav > i {
    scale: 1.2;
    margin: 0 25px;
} 

.insta_logo {
    font-family: 'Satisfy', cursive;
}

nav>i {
    margin: 0 15px;
}

nav>i::hover {
    cursor: pointer;
}



/* ---------------- INSTA STORY --------------- */

.insta_story {
    border-bottom: 1px solid grey;

    width: 100%;
    height: 80px;
}




/* ---------------- INSTA FEED --------------- */


.insta_feed {
    /* background-color: bisque; */
    margin-left: 1px;
}

.insta_feed_profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3px 3px 0 25px;
}

.insta_feed_profile_username {
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    margin-left: 8px;
}

.profile_pic {
    width: 30px;
    height: 30px;

    border: 2.5px solid green;
    border-radius: 50%;
    /* margin: 0 0 0 5px;  */
}

.insta_feed_pic {
    display: flex;
    justify-content: center;
}

.insta_feed_pic > img {
    margin: 5px;
    object-fit: cover;

    width: 90%;
    height: 350px;

    border-radius: 5px;

}



.insta_feed_status{
    margin: 0 0 0 25px;
}

.insta_feed_status>i {
    margin: 2px 2px 6px 6px;
    scale: 1.4;
}

.insta_feed_comment > h5 , h4 {
    font-size: 12px;
    margin-left: 25px;
    margin-top: 2px;
}






.insta_footer > hr.solid {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-bottom: 60px;
    border-top: 3px solid #bbb;
}

/* ---------------- INSTA FOOTER --------------- */



.insta_footer_ul {
    display: flex;
    justify-content: space-between;

    margin: 10px 20px;
    margin-top: 55px;
    list-style: none; 

}

.insta_footer_ul > li > a {
    text-decoration: none;
    color: black;
}


.insta_footer_ul > li > a > i {
    font-size: 26px;


}

.solid {
    display: flex;
    flex-direction: column;
    position: relative;
}

